---
import "../style.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import FeatureSection from "../components/FeatureSection.astro";
import CTASection from "../components/CTASection.astro";
---

<BaseLayout title="ResKitt - Home">
    <main class="w-full max-w-7xl px-12 py-16 mx-auto">
        <Hero />
        <FeatureSection />
        <CTASection />
    </main>
</BaseLayout>
