@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --primary: #308ce8;
    --background: #f6f7f8cc;
    --foreground: #0f172a;
    --border: #e2e8f0;
}

.dark {
    --primary: #6366f1;
    --background: #0f172b;
    --foreground: #94a3b8;
    --border: #314158;
}

@theme inline {
    --color-primary: var(--primary);
    --color-background: var(--background);
    --color-border: var(--border);
    --color-foreground: var(--foreground);
}

@font-face {
    font-family: "Material Icons";
    src: url("./assets/fonts/material_icons_outlined.ttf") format("truetype");
}

@font-face {
    font-family: "Lexend";
    src: url("./assets/fonts/Lexend.ttf") format("truetype");
}


.material-symbols-outlined {
    font-family: "Material Icons";
}

.font-lexend {
    font-family: "Lexend", sans-serif;
}