---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro"
const {title = "ResKitt"} = Astro.props;
---

<!DOCTYPE html>
<html lang="en-us" class="scroll-smooth">
    <head>
        <title>{title}</title>
    </head>
    <body class="bg-background text-foreground font-lexend min-h-screen transition-colors duration-300 ease-in-out">
        <Header/>
        <slot/>
        <Footer/>
    </body>
</html>